/** {{md.TableComment}} {{md.TableName}} */
const {{md.TableName}} = { {% for col in md.Columns %}
  {{col.Name}}:'', // {{col.Comment}} {{col.SQLType.Name|lower}} {{linebreaks}}
  {% endfor %}
   }
  
const {{md.TableName}}_v = [{% for col in  md.Columns%}
  {{col.Name}}, {% endfor %}]

const {{md.TableName}} = [{% for col in md.Columns %}
  { name: '{{col.Name}}', text: '{{col.Comment}}', sortable: true, align: 'center', type: '{{col.SQLType.Name | lower}}', },  {{linebreaks}}
  {% endfor %}
]
  
const {{md.TableName}} = [{% for col in  md.Columns%}
  {
    name: '{{col.Name}}',
    field: '{{col.Name}}',
    label: '{{col.Comment}}',
    sortable: true,
    align: 'center',
    classes: '',
    style: '',
    type: '{{col.SQLType.Name|lower}},
  },{% endfor %}
]

export default {{md.TableName}};
export { {{md.TableName}}_v, {{md.TableName}} };
