package {{md.PackageName}}

import (
	"time"
)

/** {{md.TableComment}} {{md.TableName}} */
type {{md.ExportModelName}} struct {
// Model
{% for col in md.Columns %}
    {{ExportColumn(col.Name)}} {{TypeConvert(col.SQLType)}} `xorm:"{{col.SQLType.Name | lower}}{% if col.Length > 0 %}({{col.Length}}){% endif %} {% if not col.Nullable %} notnull {% endif %} {% if not col.IsPrimaryKey %} unique {% endif %} '{{col.Name}}'"` // {{col.Comment}}
{% endfor %}}

func (t *{{md.ExportModelName}}) TableName() string {
	return "{{md.TableName}}"
}
